In [1]:
#range() :=>Generate only integer values
#sequence number =>1 to 10
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
list(range(3,30,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [6]:
list(range(5,80,4))

[5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77]

In [7]:
#step value -ve 
tuple(range(1,10,-1))

()

In [8]:
tuple(range(10,0,-1)) #descending order numbers

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
list(range(40,0,-4))

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [10]:
list(range(2,42,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [11]:
list(range(12,2,-2))

[12, 10, 8, 6, 4]

In [12]:
list(range(2,12,-2))

[]

In [13]:
tuple(range(3,13,-3))

()

In [14]:
tuple(range(13,3,-3))

(13, 10, 7, 4)

In [16]:
#range() with for loop
#print("Happy Days") 15 times
for i in range(15):
    print("Happy Days")
    print(i)

Happy Days
0
Happy Days
1
Happy Days
2
Happy Days
3
Happy Days
4
Happy Days
5
Happy Days
6
Happy Days
7
Happy Days
8
Happy Days
9
Happy Days
10
Happy Days
11
Happy Days
12
Happy Days
13
Happy Days
14

In [17]:
for i in range(1,51):
    print("Happy Diwali")

Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali

In [18]:
#To generate even numbers from 11 to 20 using range function.
#input=>range()
#process=>decide start,stop,step
#output =>even numbers
for number in range(12,21,2):
    print("Even numbers",number)

Even numbers 12
Even numbers 14
Even numbers 16
Even numbers 18
Even numbers 20

In [19]:
#To generate odd numbers from 11 to 20 using range function.
#input=>range()
#process=>decide start,stop,step
#output =>odd numbers
for number in range(11,20,2):
    print("Odd numbers",number)

Odd numbers 11
Odd numbers 13
Odd numbers 15
Odd numbers 17
Odd numbers 19

In [20]:
#list data type with for loop
for number in [20,34,67,89,67,45]:
    print("Good morning")

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [21]:
#string data type with for loop
for character in 'Happy':
    print(character)
    print("Bye")

H
Bye
a
Bye
p
Bye
p
Bye
y
Bye

In [22]:
name='Abhishek'
for i in name:
    print(i)

A
b
h
i
s
h
e
k

In [23]:
#tuple data type
student_name=('Sayali','Bhagyashree','Rutuja','Sakshi','Deepali')
for name in student_name:
    print(name)
    print("Happy Days")

Sayali
Happy Days
Bhagyashree
Happy Days
Rutuja
Happy Days
Sakshi
Happy Days
Deepali
Happy Days

In [28]:
# important=>set data type
student_name={'Sayali','Bhagyashree','Rutuja','rutuja','Bhagyashree','Sakshi','Deepali'}
for name in student_name:
    print(name)
    print("Happy Days")

rutuja
Happy Days
Deepali
Happy Days
Bhagyashree
Happy Days
Rutuja
Happy Days
Sayali
Happy Days
Sakshi
Happy Days

In [2]:
#Set does not allow duplicates element.
x={38,67,23,67,89,23,89,45}
for i in x:
    print(i)
    print("Happy Days")

67
Happy Days
38
Happy Days
23
Happy Days
89
Happy Days
45
Happy Days

In [3]:
x={'apple','grapes','Grapes','banana','pineapple','pineapple'}
for i in x:
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [4]:
numbers=range(5,30,5) #5,10,15,20,25
for i in numbers:
    print(i)

5
10
15
20
25

To display the addition of numbers from 21 to 30.
21+22+23+.....30=>

In [22]:
sum=0
for number in range(21,31):
    print(f"Sum result is {number} and {sum}={sum}")
    sum=sum+number

Sum result is 21 and 0=0
Sum result is 22 and 21=21
Sum result is 23 and 43=43
Sum result is 24 and 66=66
Sum result is 25 and 90=90
Sum result is 26 and 115=115
Sum result is 27 and 141=141
Sum result is 28 and 168=168
Sum result is 29 and 196=196
Sum result is 30 and 225=225

In [14]:
n=10
s=1
t=10
n*(s+t)/2

55.0

In [19]:
n=int(input("Enter total no of numbers"))
s=int(input("Enter the start sequence number"))
t=int(input("Enter the last sequence number"))
series_number_sum=n*(s+t)//2
print("Series sequence number addition is =",series_number_sum)

Enter total no of numbers10
Enter the start sequence number11
Enter the last sequence number20
Series sequence number addition is = 155

In [18]:
sum=0
for number in range(11,26):
    sum=sum+number
print("Sum of numbers from 21 to 30 sum=",sum)

Sum of numbers from 21 to 30 sum= 270

In [24]:
#input
names=['Ruben','Suraj','Swapnil','Aditya','Avinash']
#process
for name in names:
    upper_case_name=name.upper()
    print(upper_case_name)

RUBEN
SURAJ
SWAPNIL
ADITYA
AVINASH

In [26]:
#input
names=['Ruben','Suraj','Swapnil','Aditya','Avinash']
#process
for name in names:
    reverse_name=name[::-1]
    print(reverse_name)

nebuR
jaruS
linpawS
aytidA
hsanivA

In [28]:
#Find the vowels in a given string.
#vowels=>a,e,i,o,u
person_name='Yashraj'
for character in person_name:
    if character in ['a','e','i','o','u']:
        print(character)

a
a

In [32]:
sample=[21,89,45,'python','',0,False,23.78,12+3j,'true',True]
for  i in sample:
    print(bool(i))

True
True
True
True
False
False
False
True
True
True
True

In [33]:
for i in range(1,3):
    print("Outer loop")
    for j in range(1,4):
        print("Inner loop")

Outer loop
Inner loop
Inner loop
Inner loop
Outer loop
Inner loop
Inner loop
Inner loop

To display the multiplication table for 6.

In [35]:
number=6
print(f"Multiplication table for {number}")
for i in range(1,11):
    result=i*number
    print(f"{number} * {i} = {result}")

Multiplication table for 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

To display the multiplication table from 6 to 10.

In [39]:
result=0
for number in range(6,11):
    print(f"Multiplication table for {number}")
    for j in range(1,11):
        result=j*number
        print(f"{number} * {j} = {result}")

Multiplication table for 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Multiplication table for 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Multiplication table for 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Multiplication table for 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Multiplication table for 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100